@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  font-style: italic;
  src: url(/assets/fonts/jetbrains-mono/JetBrainsMono-Italic.ttf);
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: normal;
  src: url(/assets/fonts/jetbrains-mono/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: italic;
  src: url(/assets/fonts/jetbrains-mono/JetBrainsMono-BoldItalic.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: black;
}
